@use "abstracts/variables.scss" as *;
@use "layout/flexbox" as *;
@use "layout/sections" as *;
@use "layout/columns" as *;
@use "abstracts/headers.scss" as *;
@use "components/icons.scss" as *;
@use "components/buttons.scss" as *;
@use "components/containers.scss" as *;
@use "assets/images.scss" as *;


html {
  scroll-behavior: smooth;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.flex-template {
  @include flex-template;
}

.lato-template-bold {
  @include lato-template-bold;
}

.poppins-template-bold {
@include poppins-template-bold;
}

.poppins-template-reg {
  @include poppins-template-reg;

}

.poppins-template-med {
  @include poppins-template-med;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: $poppins-font;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: $poppins-font;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: $poppins-font;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: $poppins-font;
}

.logo-box {
  @extend .flex-template;
  display: inline-flex;
  border: 2px solid black;
  width: 48px;
  height: 48px;
}

body {
  background-color: $background-color;
  padding: 1em 1.8em 0;

  .logo-box {
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    h3 {
      font-size: 1.6em;
      font-weight: 900;
      font-family: $poppins-font;
      visibility: visible;
    }
  }

  #nav {
    @extend .flex-template;
    justify-content: space-between;
    height: 48px;
    max-width: 1280px;

    .logo-name-cnt {
      @extend .flex-template;
      flex-direction: row;

      .header-med {
        @extend .poppins-template-med;
        font-size: 14px;
        font-weight: 600;
        align-self: center;
        margin-left: 0.5em;
      }
    }
    .row-btns {
      @include row-btns;
    }
  }

  .row-btns {

      margin-right: 8px;
      // visibility: hidden;


  #contactme-btn {
    display: inline;
    border: 1px solid $secondary-color;
    background-color: $background-color;
    font-size: 14px;
    border-radius: 5px;
    width: 111px;
    height: 34px;
    cursor: pointer;
    margin-right: 8px;

    .header-sm {
      color: $secondary-color;
      font-size: 1em;
      font-weight: 600;
      margin: 0 auto;
    }
  }

  .linkedin-btn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: $background-color;
    border: none;
    font-size: 14px;
    width: 111px;
    height: 34px;
    cursor: pointer;
    padding: 0 0.5em;

    .header-sm {
      color: black;
      font-size: 1em;
      font-weight: 600;
      margin: 0 auto;

    }
  }

  .arrow-up-right {
    content: url('arrow-up-right.png');
    width: 12px;
    height: 12px;
    align-self: center;
    transition: 0.30s;


  }
}
footer {
.linkedin-btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $background-color;
  border: none;
  font-size: 14px;
  width: 111px;
  height: 34px;
  cursor: pointer;
  visibility: hidden;


  .header-sm {
    color: black;
    font-size: 1em;
    font-weight: 600;
    margin:0;

  }
  .arrow-up-right {
    content: url('arrow-up-right.png');
    width: 12px;
    height: 12px;
    transition: 0.30s;
    align-self: center;
    margin-left: 0.5em;
  }
}
}
.linkedin-btn:hover .arrow-up-right {
  transform: translate(5px, -5px);


}







  /******** HEADERS  ****************/
  .header-med {
    @include header-med;
  }

  .header-lg {
  @include header-lg;
  }

  .header-xl {
    @include header-xl;
  }

  .header-sm {
    @include header-sm;
  }
  /****** ICONS   *********/
  .icons-cnt {
  @include icons-cnt;
  }

  .html-icon {
    @include html-icon;


  }

  .css-icon {
    @include css-icon;

  }

  .js-icon {
      @include js-icon;
  }

  .sass-icon {
    @include sass-icon;
  }

  .figma-icon {
    @include figma-icon;

  }

  .git-icon {
    @include git-icon;
  }
  /***********SECTION ONE START ********/
  .section-one {
    @include section-one;
  }

  .col-one {
    @include col-one;
  }

  .headers-cnt {
    .header-med {
      @include header-cnt;
    }
  }

  .header-top {
    @include header-top;
  }

  .header-btm {
    @include header-btm;
  }

  .about-me-cnt {
  @include about-me-cnt;
  }

  .skills-cnt {
   @include skills-cnt;
  }

  h4 {
    @extend .lato-template-bold;
    font-weight: 900;
  }

  .body-text {
    font-family: $poppins-font;
    font-size: 1em;
  }

  .avatar {
    @include avatar;
  }
  /***********SECTION ONE END ******************/
  /******** SECTION TWO START ***********/
  .section-two {
    @include section-two;


  }

  .col-two {
    @include col-two;
  }

  .letsread-img {
    @include letsread-img;

  }

  .proj-desc-cnt {
   @include proj-desc-cnt;
  }

  .visit-cnt {
    @include visit-cnt;
  }
  /******* SECTION TWO END  **********/
  /*SECTION THREE START ***********/
  .section-three {
  @include section-three;
  }

  .col-three {
    @include col-three;
  }

  .col-three {
    align-self: center;

    #contact-me-cnt {
      text-align: center;


      .header-sm {
        @extend .poppins-template-reg;
        font-weight: 700;
      }
    }
  }

  .contact-input-cnt {
    @extend .flex-template;
    flex-direction: column;
    align-self: center;
    margin-top: 1em;
    max-width: 400px;
  }

  input {
    width: 100%;
    padding: 6px;
    background-color: $background-color;
    border-color: black;
    border-width: 2px;
  }

  input:focus {
    border-color: $secondary-color;
  }

  textarea:focus {
    border-color: $secondary-color;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 6px;
    background-color: $background-color;
    border-color: black;
    border-width: 2px;
  }

  input:nth-of-type(2) {
    margin: 0.8em 0;
  }

  .submit-btn {
    display: inline;
    border: 1px solid $secondary-color;
    background-color: $background-color;
    font-size: 14px;
    border-radius: 5px;
    width: 80px;
    height: 34px;
    color: $secondary-color;
    @extend .poppins-template-bold;
    margin-top: 1em;
    cursor: pointer;
    -webkit-appearance: none;

  }

  footer {
    @extend .flex-template;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2em;
    margin-bottom: 5em;
    max-width: 1280px;

    .logo-name-cnt {
      @extend .flex-template;
      flex-direction: row;

      .header-med {
        @extend .poppins-template-med;
        font-size: 18px;
        font-weight: 600;
        align-self: center;
        margin-left: 0.5em;
      }
    }

    .header-sm {
      font-size: 1em;
      text-align: center;
      width: auto;
      margin-top: 2em;
    }
  }
}
/****** SECTION THREE END  *********/
@media screen and (max-width: 400px) {
  .row-btns {
    width: 111px;
  }

}



@media screen and (min-width: 587px) {
  body {
  .avatar {
    align-self: center;
  }
  .row-btns {
    visibility: visible;
  }
  footer {
    .linkedin-btn {
    visibility: visible;
    }
  }
}

}


@media screen and (min-width: 768px) {
  body {
    .col-one {
      justify-content: space-between;
      flex-direction: row;
    }

    .letsread-img {
      align-self: flex-start;
    }


  }
}
@media screen and (min-width: 1280px) {
  body {
    #nav {
      margin: 0 auto;
    }

    .section-one {
      margin: 0 auto;
    }
    .section-two {
      margin: 3em auto 0;
    }
    .section-three {
      margin: 3em auto 0;
    }
    .col-two {
      flex-direction: row;
      justify-content: space-between;

    }
    .proj-desc-cnt {
      width: 330px;
      align-self: center;
    }
    .header-top {
      font-size: 3.5em;
    }
    .header-btm {
      font-size: 3.5em;
    }
    footer {
      margin: 6em auto 3em;
    }

  }
}
